
*{ box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family:  Tahoma,  Verdana,  'Open Sans',  sans-serif;
    font-size: 1em;
    height: 100vh;
    display: grid;
    grid-template-areas: 'header header header' 'nav nav nav' 'main main main' 'footer footer footer';
    grid-template-columns: 50%  2fr  40%;
    grid-template-rows:  2% 20%  1fr  10%;
    background-color: #005C81;
    
    
 }

header,
   footer,
   nav,
   main,aside{
      padding-bottom: 20px;

   }
header{
    grid-area: header;
    background-color: #005C81;
    padding-top: 20px 30px;
    padding-inline-start: 50px;
   

}
h1{
    font-size: 1.2em;
    padding: 10px;
}

h2{
    color: #005C81;
    font-size: 1.3em;
    border-bottom: 2px solid #ca9625;
    padding-bottom: 10px;

}

nav{
    grid-area: nav;
    display:flex;
    flex-direction: row;
   justify-content:space-evenly;
   font-size: 1.5rem;
   font-weight: bold; 
   word-spacing: 2rem;
   padding-left: 5px;
   margin-bottom: -10px;
   background-color: #005C81;
   margin: 20px;
   padding:20;
}
nav i{
    color: #fff;
}
nav i:hover{
    color: #ca9625;
}
#icons{   
    display: flex; 
    justify-content: right;
    gap: 10px;
}
nav a:hover{
    color: #ca9625;
}

.sub-nav{
    border-bottom: 2px solid #ca9625;
    padding-bottom: 5px;
}
.sub-nav a{
    color: #005C81;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 10px;
   font-size: 1em;
   font-weight: 600;
   text-transform: capitalize; 
}


main{
    grid-area: main;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #e1a116
}
footer{
    grid-area: footer;
    background-color: #005C81;
    border-top: 2px solid #e1a116
  
}
.product-view{
    margin: 20px;
    padding: 20px;
    width: 100%;
   
}
.jacket-view{
    display:flex;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    padding: 50px;
}
.ai-jacket{
    grid-column: 2/6;
    margin: 10px 20px;
    padding: 30px;
    border: 1px solid #ca9625;

    

}

 
.ai-jacket i{
    color: #ca9625;
    
 
}
.ai-jacket img{       
    width: 700px;
       
}


.ai-descr{
    display: inline-block;
     padding: 10px;
    margin-right: 150px;
    margin-bottom: 100px;
  
}
.ai-descr h3{
    font-size: 1em;
   font-style: normal;
   font-weight: 400;
   
}

.pre-view label{
    display:inline-block;
    flex-direction:row;
    margin: 10px;
    padding:2px 10px;
  align-items: flex-start;
  border: 1px solid #005c818e;
  border-radius: 2px;
    
}
.pre-view label:hover{
    background-color: #2A647B;
    
}
.pre-view img{
    width: 60px;
}
.pre-view img:hover{
    opacity: 40;
    background-color: #2A647B;
    width: 40px;
  
}
.pre-view input:checked{
    display: ruby-base;
    color: #ca9625;
    background-color: #ca9625;
    width: 20px;

}

.mater-desc{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color:#2A647B;
    overflow-y: hidden;
    border: 1 px solid #2A647B;
    color: #cfcfcf;
    text-align: justify;
    font-size: 0.8em;
    margin-top: 40px;

}
.mater-desc:hover{
    overflow-y:visible;
    background-color:#2A647B;
    height: 100px;
    width: 400px;
    height: auto;  
    
    
}


a{
    text-decoration: none;
    color: #fff;
}

.address{
    justify-content: start;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    
  
}

.payment img{
    width: 50px;
    height: auto;
}

.socialmedia,.payment{
   float: inline-end;
   flex-direction: column-reverse;
    margin-top: -75px;
    padding: 15px, 25px;
    padding-right: 20%;
    width: 300px;
    height: auto;
 
   
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:50px;
    padding: 30px;
    
}

.policy{
    border: none;
    border-top: 2px solid #ca9625;
    width: 100% auto;  
    flex-direction: row;   
    row-gap: 20px;
    justify-content: flex-end;
    padding-top: 10px;

}
footer h5{

    font-size: 1.2em;
    font-weight:300;
    text-align: justify;
    font-stretch: expanded;
    font-variant: small-caps;
    gap: 0;
}

.policy a{
    font-weight: 900;
   margin-left: 20px;

}


#logo{

    width: 150px;
    height: auto;
   
}
/*head end here*/

/* header start here*/


 
 
.product{
    display:flex;    
    grid-template-columns: repeat(3, 1fr auto);
    justify-content: center;

       
}

.product-item{        
   margin: 40px; 
   display:grid;
   grid-template-columns: repeat(3 1fr);
   overflow-x: hidden;
   border: 1px solid #ca962536;
   justify-content: space-around;
 
}

.product img{
   
    max-width: 400px;
    border: 1px solid #ca962528;
     border-radius: 3px;
   
}
.product-item h3,h4{
    text-align: center;
    padding-right: 50px;
    justify-items: center;
    font-size: 1em;
    margin-top: 10px;  

}
.cta-small{
    border: 1px solid #005C81;
    background-color: #005C81;
    border-radius: 35px;
    padding: 10px 20px;
     color: #fff;
     font-size: 1rem;
     font-weight: bolder;   
     display: inline;
  
      
}
.product-item a{
    display: inline-flex;
    position: relative;
    justify-self: end;

}
.discounted{
     font-size: 20px;
     text-align: right;
     color: brown;
    
}

.product-item p{
    border: 1px solid #ca962536;
   overflow-x: hidden;
   scrollbar-width:none;
   justify-content: space-between;
   
}
.product-item p:hover{
    height: 100%;
    

}
.strick{
    display: flex;
    flex-direction: row;

}
.red-strick{
    font-weight: lighter;
    color: #ff6666;
    text-decoration: line-through;

}
#bought{
    width: 50vh;
    margin: 250px 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-weight: 600;
    color: #005C81;
    line-height: 25px;
    border: 2px solid #ca9625;
    
}
#bought i{
    color: #ca9625;
}